* {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
}
body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
  font-family: "SimHei";
  color: #fff;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  border-top: 1px solid #1a2964;
  background: rgba(38, 47, 73, .3);
  height: 70px;
}
header .back, header .logo {
  float: left;
}
ul, li, ol {
  list-style: none;
}
.weather {
  color: #b1ffff;
  font-size: 18px;
  line-height: 70px;
  float: right;
  padding-right: 10%;
}
.weather span {
  padding-left: 15px;
}
header .caption {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.content {
  position: fixed;
  top: 90px;
  bottom: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
}
.l-box, .r-box {
  position: absolute;
  width: 27.5%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.l-box {
  padding-left: 15px;
  left: 0
}
.r-box {
  padding-right: 15px;
  right: 0
}
.l-chart {
  height: 33.3%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 2px;
  position: relative;
}
.l-chart .arrow {
  position: absolute;
  border-color: #07749f;
  border-style: solid;
  width: 8px;
  height: 8px;
}
.t-l {
  border-width: 2px 0 0 2px;
  top: -2px;
  left: -2px;
}
.t-r {
  border-width: 2px 2px 0 0;
  top: -2px;
  right: -2px;
}
.b-l {
  border-width: 0 0 2px 2px;
  bottom: -2px;
  left: -2px
}
.b-r {
  border-width: 0 2px 2px 0;
  bottom: -2px;
  right: -2px
}
.l-chart .bg-box {
  height: 100%;
  padding: 40px 10px 0;
  border: 2px solid #0c2a71;
  position: relative;
  box-sizing: border-box;
}
.title {
  color: #65c6e7;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  top: 0;
  line-height: 40px;
  left: 25px;
}
.title:before {
  width: 6px;
  height: 26px;
  background-color: #fdff69;
  position: absolute;
  left: -12px;
  top: 6px;
  content: "";
}

/* pie */

.swiper-container {
  height: 100%;
}
.pie-box {
  overflow: hidden;
}
.pie-box>div {
  width: 50%;
  float: left;
  height: 50%;
}

/* m-box */

.m-box {
  width: 45%;
  padding: 0 10px;
  position: absolute;
  left: 27.5%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.m-box .l-chart {
  height: 50%;
}
.bg-box .bg {
  background: url(../img/bg.png) no-repeat;
  width: 178px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}
#working, #information {
  color: #9fceff;
  position: relative;
}
#working table thead th {
  padding: 10px 0;
}
#working .flex div {
  border-bottom: 1px dotted #67f5ff;
  padding: 5px 0;
}
#working .flex div:first-child {
  color: #de8d05;
  border-bottom: 0;
}
#working .circular {
  background: #67f5ff;
  height: 12px;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}
.head {
  text-align: center;
  display: flex;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
#information .swiper-slide .flex div:first-child {
  color: #de8d05;
}

/* #information .swiper-pagination {
  text-align: right
} */

#information, #working {
  width: 100%;
  overflow: hidden;
  padding-top: 40px;
  box-sizing: border-box;
}
#working {
  height: 100%;
  padding-right: 10px;
}
.column-container {
  height: 100%;
  overflow: hidden;
}
#information span.status {
  background-color: #c5060c;
  padding: 5px;
  display: inline-block;
}
#information .flex, #working .flex {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  border-bottom: 1px dotted #67f5ff;
}
#working .flex {
  border: none;
}
#working .head {
  padding-right: 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0
}
.swiper-container-vertical>.swiper-pagination-bullets {
  right: 0
}

/*equip  */

#equip {
  height: 100%;
  width: 100%;
  position: relative;
}
.shadow-box {
  border: 2px solid #00ffe4;
  box-shadow: rgb(11, 234, 235) 0px 0px 18px inset;
  border-radius: 10px;
  color: #4ef1d9;
  text-align: center;
  display: flex;
  align-items: center;
}
.l-equip {
  width: 15%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  display: flex;
  align-items: center
}
.r-equip {
  width: 85%;
  top: 0;
  left: 15%;
  position: absolute;
  height: 100%;
  padding-left: 25px;
  box-sizing: border-box;
  font-size: 18px;
}
.r-equip img {
  width: 100%;
}
.r-equip ul {
  height: 50%;
}
.r-equip ul li {
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 18%;
}
.r-equip ul li .shadow-box {
  height: 100%;
}
#equip p {
  width: 100%;
}
.equp-img {
  height: 25%;
  padding-top: 15px;
  box-sizing: border-box;
}
.equp-img img {
  height: 100%;
  width: 100%;
}
.column-box {
  width: 100%;
  height: 100%;
}
.r-container .swiper-slide {
  opacity: 0!important;
}
.r-container .swiper-slide-active {
  opacity: 1!important;
}